.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #F4F4FD;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.acsent-logo {
    color: #4d5ae5;
}