.header {
    font-weight: 700;
}

.header-logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.header-links {
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
    

}
.header-links .link:hover,
.header-links .link:focus{
    color: #404BBF;
}

.adress {
   font-style: normal;

}
.adress-links {
    font-weight: 400;
    color: #434455;
    letter-spacing: 0.02em;
}       
.adress-links .link:hover,
.adress-links .link:focus {
    color: #404BBF;
}
.acsent {
    color: #4D5AE5;
}
   
