.hero {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.hero-tittle {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.herro-button {
    background-color: #4D5AE5;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.04em;
    

}
.herro-button:hover ,
.herro-button:focus {
    background-color: #404BBF;
}